<!DOCTYPE html>
<html>
<head>
  <title>Library Management</title>
  <link rel="stylesheet" type="text/css" href="../public/style.css">  
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <img src="../public/logo.jpg" alt="Library Logo">
        </div>
        <ul class="navbar-menu">
          <li><a href="../view/index.html">About</a></li>
          <li><a href="../view/book.html">Booklist</a></li>
          <li><a href="../view/filter.html">Filter</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <h1>LIBRARY BOOKS</h1>
  <div id="bookListAll"></div>
  <div id="page"></div>

  <script src="../public/script.js"></script>
</body>
</html>