<!DOCTYPE html>
<html>
<head>
  <title>Library Management</title>
  <link rel="stylesheet" type="text/css" href="../public/style.css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="logo">
          <img src="../public/logo.jpg" alt="Library Logo">
        </div>
        <ul class="navbar-menu">
          <li><a href="../view/home.html">About</a></li>
          <li><a href="../view/book.html">Booklist</a></li>
          <li><a href="../view/book.html">Filter</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="hero">
    <div class="container">
      <h2 class="hero-title">Read, Learn, Explore</h2>
      <p class="hero-description">Find the perfect books that cater to your interests and broaden your knowledge.</p>
    </div>
  </section>

  <section id="why-study-books">
    <div class="container">
      <h2 class="section-heading">Why Books?</h2>
      <p class="section-description">Books play a significant role in our life, especially for children. Reading books increases the knowledge of students, improves their intellect, makes students aware of the various societies, and civilizations across the globe.Books are invaluable resources that offer numerous benefits:</p>
      <ul class="benefits-list">
        <li><strong>Knowledge and Learning:</strong> Books provide a wealth of knowledge on a wide range of subjects, allowing you to learn and explore new ideas.</li>
        <li><strong>Personal Development:</strong> Reading books helps you develop critical thinking, creativity, and problem-solving skills.</li>
        <li><strong>Empathy and Understanding:</strong> Books expose you to diverse perspectives and experiences, fostering empathy and understanding towards others.</li>
        <li><strong>Entertainment and Escape:</strong> Books offer entertainment and serve as a means of escape into different worlds and stories.</li>
        <li><strong>Stay Informed:</strong> Books keep you updated with the latest information and advancements in various fields.</li>
      </ul>
      <h2 class="section-heading">Filter</h2>
      <p class="section-description">Use the filter option to find books that match your preferences:</p>
      <ul class="filter-list">
        <li><strong>Title:</strong> Enter the title of the book you are looking for.</li>
        <li><strong>Author:</strong> Specify the name of the author you prefer.</li>
        <li><strong>Subject:</strong> Input the subject or topic of interest.</li>
        <li><strong>Publish Date:</strong> Filter books based on their publish date.</li>
      </ul>
    </div>
  </section>


  <footer>
    <div class="container">
      <p>&copy; 2023 Library Management.</p>
    </div>
  </footer>

  <script src="../public/script.js"></script>
</body>
</html>