<!DOCTYPE html>
<html lang="en">
    <head> 
        <title>
            Login page 
        </title>
        <link rel="icon" href="../public/logo.jpg">
        <link rel="stylesheet" href="../public/login.css">
    </head>
    <body>
        <div class="form">
            <h1 class="heading">welcome to LMS</h1><br>
            <input type="email" placeholder="email" autocomplete="off" class="email" required><br>
            <input type="password" placeholder="password" autocomplete="off" class="password" required><br>
            <button class="submit-btn" onclick="window.location.href ='index.html';" > login </button>
        </div>
    </body>
    
</html>